<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">Diagnosed Diabetes</div>
        <p class="description">Number and Percentage of U.S. Population with Diagnosed Diabetes</p>
      </div>
    </div>
    <div class="row">
      <div single-line-card metric="main.numberOfPersons"></div>
      <div single-line-card metric="main.numberOfAdults"></div>
      <div multi-line-card metric="main.crudeAndAge"></div>
      <div multi-line-card metric="main.crudeAndAgeAdults"></div>
      <div multi-line-card metric="main.rateByAge"></div>
      <div multi-line-card metric="main.rateByEducation"></div>
      <div multi-line-card metric="main.rateBySex"></div>
      <div multi-line-card metric="main.rateByRace"></div>
      <div multi-line-card metric="main.rateByRaceAndSex"></div>
      <div grouped-bar-card metric="main.rateByAgeAndRaceAndSex"></div>
      <div multi-line-card metric="main.rateByHispanicOrigin"></div>
      <div multi-line-card metric="main.rateByOriginAndSex"></div>
    </div>
  </div>
</div>

<section class="extra">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="">
          <div class="title">Do I have Diabetes?</div>
          <div class="text">
            <p>There is no cure for diabetes, but it can be managed. Balancing the food you eat with exercise and medicine (if prescribed) will help you control your weight and can keep your blood glucose in the healthy range.</p>
            <p>This can help prevent or delay complications. Many people with diabetes live long and healthful lives.</p>
            <p>Take a simple quiz to see your score.</p>
          </div>
          <button class="btn btn-primary btn-lg">TAKE THE QUIZ</button>
        </div>
      </div>
      <div class="col-md-6">
        <img src="images/pensive.jpg" class="poster img-responsive wow slideInRight" alt="diabetes"/>
      </div>
    </div>
  </div>
</section>
